.navbar {
    width: 100%;
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    background: #fffafa;
    position: relative;
}

h1 {
    cursor: pointer;
}

.logo {
    width: 45px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 15%;
}

.search {
    display: flex;
    height: 50px;
    width: 500px;
    align-items: center;
    background: white;
    padding: 10px 20px;
    border-radius: 50px;
    opacity: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
}

.inputSearch {
    flex: 1; /* Ocupa o máximo de espaço disponível */
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: black;
    font-size: 18px;
}

.searchIcon {
    width: 20px;
    cursor: pointer;
    margin-left: 10px; /* Espaçamento entre o input e o ícone */
}

.profile {
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: auto;
}
